doctype html
html
	head
		title= title
		link(rel = 'stylesheet', href='stylesheets/bootstrap.min.css')
		link(rel = 'stylesheet', href='stylesheets/bootstrap-theme.min.css')
		script(src='/javascripts/jquery.min.js')
		//script(src='/javascripts/selector.js')
		script(src='/javascripts/audioCommandsDemo.js')
		block scripts
	body
		div#social_studio_header Social Studio Header
		div
			input#command
			button#synthesize Synthesize

		div#facebook Facebook
			div#itemClass F1
			div#itemClass F2
			div#itemClass F3
			div#itemClass F4
			div#itemClass F5
		
		div#twitter Twitter
			div#itemClass T1
			div#itemClass T2
			div#itemClass T3
			div#itemClass T4
			div#itemClass T5

		div#instagram Instagram
			div#itemClass I1
			div#itemClass I2
			div#itemClass I3
			div#itemClass I4
			div#itemClass I5