.videoFrame {
	width: 350px;
	display: inline-block;
	border: 1px solid #000000;
	margin: 10px;
	background: #C0C0C0;
	border-radius: 7px;
}

.videoOutput {
	display: block;
	border: 1px solid #000000;
	width: 96%;
	margin: 2%;
	background: #FFFFFF;
	float: center;
	border-radius: 5px;
}

.videoEnabler{
	display: block;
	float: bottom;
	text-align: center;
	height: 25px;
	background-color: #FF4444;
	border-radius: 15px;
	margin: 5px;
}

.inputEnabler{
	display: inline-block;
	float: bottom;
	text-align: center;
	height: 25px;
	background-color: #FF4444;
	border-radius: 15px;
	margin: 5px;
	width: 150px;
}